DB_NAME = "./DB/data_store_YYYYMMDD.db"
DB_NAME_ENV = "./DB/data_env.db"
PORT_NO = 8765
LOG_DIR = "./app"
LOG_NAME = "server.log"

# 距離のテーブルを参照するときの時間間隔（秒）
# 現時刻よりこの時間だけ前のデータを参照する
READ_TIME = 10

# 計測距離の初期値
INIT_DISTANCE = 10.0
# 計測秒の初期値
INIT_SEC = 5.0
# 計測タイプの初期値 0:堆積／1:通過
INIT_STYPE = 0
# 計測アラートの初期値 0:アラートなし／1:アラートあり
INIT_ALERT = 0

# SlackのWebhook URL
SLACK_WEBHOOK_URL = "https://hooks.slack.com/services/****************"
SLACK_SEND_INTERVAL = 60   # Slackへの通知の最小間隔（秒）

# 成型機の名前
LINE1='EVA01'
LINE2='EVA02'
LINE3='EVA03'
LINE4='EVA04'
LINE5='EVA05'
LINE6='EVA06'
LINE7='EVA07'
LINE8='EVA08'
LINE9='EVA09'
LINE10='EVA10'

